#firstDiv {
    
    background-image: url(../images/Homepgbackgroundimg.jpg);
    height:500px;
    background-size: cover;
   margin-left:-45px;
   margin-right:-45px;
}

.modal {
    width: 25%;
    margin-right: 0px;
    margin-left: auto;
}
