#maincolor {
    background-color: #ffc866;
    height: 90px;
}

.logoimage {
    height: 30px;
}

.card-title {
    color: #f9b443;
    font-size: 23px;
}


#accountBtn, #usernameBtn {

    color:white;
}

.userImg {
    border-radius: 50px;
}


#footerHome {
    height: 80px;
}

.yourFavImg {
    width: 150px;
    height: 150;
    margin: 20px 20px 20px 20px;
}
#uploadMoreBtn {
    border-radius: 35px;
    width: 190px;
    height: 50px; 
    padding-top:8px;
    font-size:23px;
    color: #f9b443;
    font-weight: 400;
}

#lastDiv {
    margin-bottom:180px;
}